Shoal_Unity/[Ll]ibrary/
Shoal_Unity/[Tt]emp/
Shoal_Unity/[Oo]bj/
Shoal_Unity/[Bb]uild/
Shoal_Unity/*.csproj
Shoal_Unity/*.unityproj
Shoal_Unity/*.sln
Shoal_Unity/*.suo
Shoal_Unity/*.tmp
Shoal_Unity/*.user
Shoal_Unity/*.userprefs
Shoal_Unity/*.pidb
Shoal_Unity/*.booproj
Shoal_Unity/*.pidb.meta
Shoal_Unity/sysinfo.txt
Shoal_Unity/Assets/ShaderForge/
Shoal_Unity/Assets/ShaderForge.meta

Shoal_Unity/Shoal_Unity-csharp.sln
Shoal_Unity/Shoal_Unity.sln
Shoal_Unity/Shoal_Unity.userprefs
/Shoal_Unity/_ReSharper.UnityVS.Shoal_Unity
/Shoal_Unity/Assets/UnityVS
/Shoal_Unity/Assets/UnityVS.meta

*.sublime*
Shoal_Unity/Assets/Plugins.meta
Shoal_Unity/Assets/opencvkinect.meta
Shoal_Unity/Assets/resources.meta
